<!-- <h2 class="page-header">Profile Page</h2>
<ul class="list-group">
  <li class="list-group-item">Username: {{ username }}</li>
  <li class="list-group-item">Email: {{ email }}</li>
</ul> -->
<h2 class="page-header">Profile Page</h2>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
      </div>
      <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
        <div class="container" style="border-bottom:1px solid black">
          <h2>{{ studentName }}</h2>
        </div>
        <hr>
        <ul class="container details">
          <li>
            <p><span class="glyphicon glyphicon-user" style="width:50px;"></span> {{ username }}</p>
          </li>
          <li>
            <p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{email}}</p>
          </li>
          <li>
            <p><span class="glyphicon glyphicon-book" style="width:50px;"></span>{{department}}</p>
          </li>
          <li>
            <p><span class="glyphicon glyphicon-education" style="width:50px;"></span> {{career}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
